@model ImageViewModel
<div class="row">
    @if (Model.ShowImage)
    {
        <div class="col-md-8 offset-md-2">
            <img src="\uploads\@Model.Image.ImageName" style="width: 800px;" />
            <br />
            <h3>Views: @Model.Image.Views</h3>
        </div>
    }
    else
    {
        if (!String.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @ViewBag.Message
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        }
        @*ALERT WHEN INCORRECT PASSWORD IS ENTERED: <h3 class="alert-danger">Invalid password</h3>*@
        <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
            <h4>Please enter the password for this image:</h4>
            <form method="post">
                <input type="hidden" name="id" value="@Model.Image.Id" />
                <input type="password" class="form-control" placeholder="Password" name="password" />
                <br />
                <button class="btn btn-primary w-100">Submit</button>
                @*    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GpFy_uQ3T1Bq_WQtiUN9YMyHR9Jtzt_UthgMcQGwEjCdhUGzcfxcoW7ergm64_r_4fzE0wEvZ0vCeMWT0mgKScmc6eahVIXtjMLT-1J71KTUVtMZvVbuBcbsiqgwbDozeMrDUPo7Pld9igQViEjlDU" />
            *@
            </form>
        </div>
    }
</div>